x64\*



*.db
*.db
*.db-shm
*.tlog
*.obj
*.log
*.pdb
*.idb
*.opendb
*.exe
*.db
*.db-wal
*.db
*.ilk
*.txt
Source.cpp
.vs/Graphic Programming Assignment/v16/.suo
*.db
.vs/Graphic Programming Assignment/v16/ipch/AutoPCH/85b3c5c6abdb89f2/GRAPHICPROGRAMMING.ipch
*.db
.vs/Graphic Programming Assignment/v16/.suo
.vs/Graphic Programming Assignment/v16/.suo
