x64\*



*.db
*.db
*.db-shm
*.tlog
*.obj
*.log
*.pdb
*.idb
*.opendb
*.exe
*.db
*.db-wal
*.db
*.ilk
*.txt
.vs/Graphic Programming Assignment/v16/Browse.VC.db
.vs/Graphic Programming Assignment/v16/Browse.VC.db
